*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: violet;
    background-image: url(/landing-page-netflix/images/netflix-bg.jpg);
    background-position:inherit;
    background-size: 100%;
}
.container2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.686);
}
.nav-1{
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    padding: 10px 24px;
}
.nav-1 img{
    width: 130px;
}
#btn-1{
    background-color: #db0000;
    border: none;
    padding: 5px 17px;
    font-size: 12px;
    color: white;
    border-radius: 2px;
}

/* middle text */
.container3{
    width: 100%;
    height: 400px;
    /* background-color: red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container3 h3{
    font-size: 40px;
    line-height: 32px;
    word-spacing: 3px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container3 h6{
    color: white;
    margin-top: 14px;
}
.container3 p{
    color: rgba(254, 254, 254, 0.774);
    font-weight: 100;
    margin-top: 10px;
}

.mail-det input{
    height: 50px;
    width: 350px;
    padding: 10px 30px;
    border: none;

}
#btn-2{
    height: 50px;
    border: none;
    color: white;
    background-color: #db0000;
    width: 200px;
    /* font-size: 20px; */

}


